@import "colors.css";
@import "variables.css";

:root {
  /**
    * ===========================================*
    * ========== Background Colors ==============*
    * ===========================================*
  */

   /** Used as active bg when --ads-color-bg-brand is the default bg **/
  --ads-color-bg-brand-emphasis-plus: #fff;
  /** Used as hover bg when --ads-color-bg-brand is the default bg **/
  --ads-color-bg-brand-emphasis: #f5f5f5;
  /** Brand primary color **/
  --ads-color-bg-brand: #f5f5f5;

  /** Used as active bg when --ads-color-bg-brand-secondary is the default bg **/
  --ads-color-bg-brand-secondary-emphasis-plus: #fff;
  /** Used as hover bg when --ads-color-bg-brand-secondary is the default bg **/
  --ads-color-bg-brand-secondary-emphasis: #f5f5f5;
  /** Brand secondary color **/
  --ads-color-bg-brand-secondary: #f5f5f5;

  /** Used for tooltips or any high contrast components **/
  --ads-color-bg-emphasis-max: #fff;
  /** Used as bg for components with fill, like radio, checkbox, toggle,
  selected state of datepicker and icon selector popover, js toggle **/
  --ads-color-bg-emphasis-plus: #f5f5f5;
  /** Used for components without border **/
  --ads-color-bg-emphasis: #f5f5f5;
  /** Default BG **/
  --ads-color-bg: #f5f5f5;
  /* Used for emphasis default bg, hover state for components without border */
  --ads-color-bg-muted: #f5f5f5;
  /** Used for disabled bg color for components with border **/
  --ads-color-bg-subtle: #f5f5f5;

  /** Used for error background **/
  --ads-color-bg-error: #fff;
  /** Used for success background **/
  --ads-color-bg-success: #fff;
  /** Used for warning background **/
  --ads-color-bg-warning: #fff;

  /**
    * ===========================================*
    * ========== Foreground Colors ==============*
    * ===========================================*
  */

  /** Used for content with high importance like main heading **/
  --ads-color-fg-emphasis-plus: #000;
  /** Used for content with lesser importance than title. Like subtitle **/
  --ads-color-fg-emphasis: #000;
  /** Default foreground color **/
  --ads-color-fg: #000;
  /** Used for content with lesser importance than body content **/
  --ads-color-fg-muted: #000;
  /** Used for all least important texts like placeholders, disabled text **/
  --ads-color-fg-subtle: #000;

  /** Text color for background --ads-color-bg-brand **/
  --ads-color-fg-on-brand: #000;
  /** Text color for background --ads-color-bg-brand-secondary **/
  --ads-color-fg-on-brand-secondary: #000;
  /** Text color for background --ads-color-bg-emphasis-max **/
  --ads-color-fg-on-emphasis-max: #000;
  /** Text color for background --ads-color-bg-error **/
  --ads-color-fg-on-error: #000;
  /** Text color for background --ads-color-bg-success **/
  --ads-color-fg-on-success: #000;
  /** Text color for background --ads-color-bg-warning **/
  --ads-color-fg-on-warning: #000;


  /**
    * ===========================================*
    * ========== Background Colors ==============*
    * ===========================================*
  */
}
