.react-datepicker.ads-v2-datepicker__calender {
  background-color: var(--ads-v2-color-bg);
  border: 1px solid var(--ads-v2-color-border);
  border-radius: var(--ads-v2-border-radius);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 12px 16px -4px rgba(0, 0, 0, 0.1);
  padding: var(--ads-v2-spaces-3);
  display: flex;
  /* left 8px + right 8px + width of the separator(1px) */
  gap: 17px;
}

/* when showing time input */
.react-datepicker.ads-v2-datepicker__calender.ads-v2-datetimepicker {
  gap: 8px;
  flex-direction: column;
}

.react-datepicker.ads-v2-datepicker__calender.ads-v2-datetimepicker > .react-datepicker__input-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.react-datepicker.ads-v2-datepicker__calender.ads-v2-datetimepicker > .react-datepicker__input-time-container .react-datepicker-time__input {
  margin: 0;
  padding-bottom: var(--ads-v2-spaces-2);
}

.react-datepicker.ads-v2-datepicker__calender.ads-v2-datetimepicker > .react-datepicker__input-time-container .react-datepicker-time__input > input {
  width: 80px;
  height: 24px;
  border: 1px solid var(--ads-v2-color-border);
  border-radius: var(--ads-v2-border-radius);
  padding: var(--ads-v2-spaces-3);
  font-family: var(--ads-v2-font-family);
  font-size: var(--ads-v2-font-size-2);
  color: var(--ads-v2-color-fg);
  box-sizing: border-box;
  text-align: center;
}

.react-datepicker.ads-v2-datepicker__calender.ads-v2-datetimepicker > .react-datepicker__input-time-container .react-datepicker-time__input > input::-webkit-calendar-picker-indicator {
  background: none;
  display:none;
}

.react-datepicker.ads-v2-datepicker__calender > .react-datepicker__month-container {
  position: relative;
}

.react-datepicker.ads-v2-datepicker__calender > .react-datepicker__month-container:last-child:before {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  width: 1px;
  height: 100%;
  background-color: var(--ads-v2-color-border);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__header {
  background-color: var(--ads-v2-color-bg);
  border-bottom: none;
  padding: 0;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__day-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--ads-v2-spaces-3);
  margin-top: var(--ads-v2-spaces-3);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__day-names .react-datepicker__day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-family: var(--ads-v2-font-family);
  font-size: var(--ads-v2-font-size-3);
  color: var(--ads-v2-color-fg-muted);
  width: 30px;
  height: 20px;
  margin: 0;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month {
  margin: 0;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-family: var(--ads-v2-font-family);
  font-size: var(--ads-v2-font-size-4);
  color: var(--ads-v2-color-fg-emphasis-plus);
  width: 30px;
  height: 34px; /* 30px + 2px padding left and right */
  margin: 0;
  border-radius: var(--ads-v2-border-radius);
  padding: 0 var(--ads-v2-spaces-1);
  background-color: var(--ads-v2-color-bg);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day:hover {
  background-color: var(--ads-v2-color-bg-subtle);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day:focus-visible {
  outline: var(--ads-v2-border-width-outline) solid var(--ads-v2-color-outline);
  outline-offset: -2px; /* trimming issue */
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--in-range.react-datepicker__day--outside-month:empty {
  background-color: transparent !important;
  color: transparent !important;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--in-range {
  background-color: var(--ads-v2-color-bg-subtle);
  border-radius: 0;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--in-range.react-datepicker__day--range-start {
  border-top-left-radius: var(--ads-v2-border-radius);
  border-bottom-left-radius: var(--ads-v2-border-radius);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--in-range.react-datepicker__day--range-end {
  border-top-right-radius: var(--ads-v2-border-radius);
  border-bottom-right-radius: var(--ads-v2-border-radius);
  background-color: var(--ads-v2-color-bg-brand-secondary);
  color: var(--ads-v2-color-fg-on-brand-secondary);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__month .react-datepicker__week .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range,.react-datepicker_quarter-text--in-range,.react-datepicker_year-text--in-range, .react-datepicker__day--selecting-range-start,  .react-datepicker__day--selecting-range-end){
  background-color: var(--ads-v2-color-bg-subtle);
  border-radius: 0;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: var(--ads-v2-color-bg-subtle);
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__day--selected:not(.react-datepicker__day--outside-month), .react-datepicker__month-text--selected, .react-datepicker__quarter-text--selected, .react-datepicker__year-text--selected {
  background-color: var(--ads-v2-color-bg-brand-secondary) !important;
  color: var(--ads-v2-color-fg-on-brand-secondary) !important;
  font-weight: unset;
}

.react-datepicker.ads-v2-datepicker__calender .react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  color: var(--ads-v2-color-fg-muted);
  opacity: var(--ads-v2-opacity-disabled);
  cursor: not-allowed;
}
