:root {
  /* orange */
  --ads-color-orange-900 : #B7491A;
  --ads-color-orange-800 : #D15420; /* Secondary */
  --ads-color-orange-700 : #DF5B23;
  --ads-color-orange-600 : #ED6227;
  --ads-color-orange-500 : #F86A2B; /* Primary */
  --ads-color-orange-400 : #F97D4A;
  --ads-color-orange-300 : #F9936B;
  --ads-color-orange-200 : #FBB195;
  --ads-color-orange-100 : #FCCFBF;
  --ads-color-orange-50 : #FAEAE8;

  /* black */
  --ads-color-black-900 : #191919;
  --ads-color-black-850 : #302D2D;
  --ads-color-black-800 : #393939;
  --ads-color-black-750 : #4B4848;
  --ads-color-black-700 : #575757;
  --ads-color-black-600 : #6B6B6B;
  --ads-color-black-550 : #716E6E;
  --ads-color-black-500 : #939393;
  --ads-color-black-470 : #939090;
  --ads-color-black-450 : #A9A7A7;
  --ads-color-black-400 : #B3B3B3;
  --ads-color-black-300 : #D7D7D7;
  --ads-color-black-250 : #E0DEDE;
  --ads-color-black-200 : #E7E7E7;
  --ads-color-black-100 : #F1F1F1;
  --ads-color-black-75 : #F0F0F0;
  --ads-color-black-50 : #F8F8F8;
  --ads-color-black-25 : #F7F7F7;
  --ads-color-black-5 : #FAFAFA;
  --ads-color-black-0 : #FFFFFF;


  --ads-color-blue-150 : #6A86CE;

  /* green */
  --ads-color-green-500 : #03B364;
  --ads-color-green-50 : #E5F6EC;

  /* yellow */
  --ads-color-yellow-500 : #FEC518;
  --ads-color-yellow-50 : #FFF8E2;

  /* red */
  --ads-color-red-900 : #ff0000;
  --ads-color-red-500 : #F13125;
  --ads-color-red-50 : #FFEAEC;


  /*  Old colors */
  /* TODO: These should go away or be renamed when the more comprehensive color palate is here */
  --ads-old-color-gray-7: #858282;
  --ads-old-color-gray-10: #090707;

  --ads-old-color-fern-green: #50AF6C;
  --ads-old-color-jagged-ice: #CAECDC;
  --ads-old-color-blue-gray : #43464a;
  --ads-old-color-outer-space: #363E44;

  --ads-old-color-hot-cinnamon: #DC5B21;
  --ads-old-color-rock-spray: #BF4109;
  --ads-old-color-bridesmaid: #FEEDE5;
  --ads-old-color-pot-pourri: #F7EBE6;

  --ads-old-color-jade: #03B365;
  --ads-old-color-fun-green: #007340;
  --ads-old-color-fun-green-2: #00693B;
  --ads-old-color-granny-apple: #CBF4E2;
  --ads-old-color-foam: #D9FDED;

  --ads-old-color-sun: #FEB811;
  --ads-old-color-yellow-sea: #EFA903;
  --ads-old-color-champagne: #FBEED0;
  --ads-old-color-early-dawn: #FFFAE9;
  --ads-old-color-dove-gray: #6D6D6D;

  --ads-old-color-pomegranate: #F22B2B;
  --ads-old-color-milano-red: #B90707;
  --ads-old-color-milano-red-2: #C60707;
  --ads-old-color-cinderella: #FDE4E4;
  --ads-old-color-fair-pink: #FFE9E9;

  --ads-old-color-mid-gray: #606065;
  --ads-old-color-gallery: #EDEDED;
  --ads-old-color-linen: #FDFAF2;
  --ads-old-color-buddha-gold: #D2A500;
  --ads-old-color-alto: #D4D4D4;

  --ads-old-color-gallery-2: #EBEBEB;
  --ads-old-color-mercury: #E8E8E8;
  --ads-old-color-dove-gray: #716E6E;
  --ads-old-color-pigeon-post: #AEBAD9;
  --ads-old-color-royal-blue: #457AE6;
}

