@import "colors.css";
@import "variables.css";
@import "themables.css";

:root {

  /* new variables */

  /* PRIMARY */
  --ads-color-brand: var(--ads-color-orange-500);
  --ads-color-brand-hover: var(--ads-old-color-rock-spray);
  --ads-color-brand-active: var(--ads-old-color-rock-spray);
  --ads-color-brand-focus: var(--ads-old-color-rock-spray);
  --ads-color-brand-disabled: var(--ads-old-color-bridesmaid);
  /* SECONDARY */
  --ads-color-brand-secondary: var(--ads-color-gray-700);
  --ads-color-brand-secondary-normal: var(--ads-color-gray-200);
  --ads-color-brand-secondary-active: var(--ads-color-gray-400);
  --ads-color-brand-secondary-hover: var(--ads-color-gray-50);
  --ads-color-brand-secondary-disabled: var(--ads-color-gray-100);
  /* BACKGROUND */
  --ads-color-background: var(--ads-color-white);
  --ads-color-background-secondary: var(--ads-color-gray-50);
  /* TEXT */
  --ads-color-text: var(--ads-color-gray-600);
  --ads-color-text-active: var(--ads-color-gray-700);
  --ads-color-text-focus: var(--ads-color-gray-700);
  --ads-color-text-hover: var(--ads-color-gray-700);
  --ads-color-text-disabled: var(--ads-color-gray-400);
  --ads-color-heading-text: var(--ads-color-gray-800); /* secondary */
  --ads-color-sub-heading-text: var(--ads-color-gray-700); /* tertiary */
  --ads-color-brand-text: var(--ads-color-white); /* can be renamed to on brand */
  --ads-color-onbrand-secondary-text: var(--ads-color-white);
  /* BORDER */
  --ads-color-border: var(--ads-color-gray-300);
  --ads-color-border-active: var(--ads-color-gray-700); /* focus selected active are same */
  --ads-color-border-hover: var(--ads-color-gray-300);
  --ads-color-border-disabled: var(--ads-color-gray-200);
  --ads-color-border-danger: var(--ads-color-gray-200); /* red */

  --ads-color-separator: var(--ads-color-gray-200);

  --ads-border-radius: 4px;
  --ads-border-width: 1.2px;

  /* new variables end here */

  --ads-primary-color: var(--ads-color-orange-500);
  --ads-primary-color-accent: var(--ads-orange-accent);
  --ads-primary-text-color: var(--ads-color-black-750);
  --ads-border-color: var(--ads-color-black-250);
  --ads-border-color-focus: var(--ads-color-black-900);


  /** Naming convention for tokens
  *
  * --ads-<component>-<componentType>-<state>-<property>-<subProperty>
  *
  * component: button, checkbox, dropdown, input, link, list, menu, radio, select, textarea...
  * subComponent: label, divider...
  * componentType: primary, secondary...
  * state: hover, focus, active, disabled, default...
  * property: color, background, border...
  * subProperty: color, width, radius...
  *
  */

  /** Info */
  --ads-info-main-text-color: #F86A2B;

  /** Input */
  --ads-input-focus-border-color: var(--ads-color-black-900);

  /** Intent Colors */
  --ads-intent-color-primary: var(--ads-old-color-jade);
  --ads-intent-color-success: var(--ads-old-color-cornflower-blue);
  --ads-intent-color-danger: var(--ads-old-color-danger-red);
  --ads-intent-color-none: var(--ads-color-black-200);
  --ads-intent-color-warning: var(--ads-old-color-jaffa);
  --ads-intent-color-success-light: var(--ads-old-color-jade);

  /** Menu */
  --ads-menu-default-border-color: #404040;

  /** Property Pane */
  --ads-property-pane-default-zoom-button-background-color: #2B2B2B;
  --ads-property-pane-default-radio-group-button-text-color: #D4D4D4;
  --ads-property-pane-default-button-text-color: #090707;

  /** Text */
  --ads-text-color: var(--ads-primary-text-color);
  --ads-text-heading-color: var(--ads-color-black-850);
  --ads-text-highlight-color: var(--ads-color-white);

  /** Uncategorized/common */
  --ads-danger-main: #E22C2C;
  --appsmith-input-focus-border-color: var(--ads-color-black-900);
  --ads-text-color-on-dark-background: var(--ads-color-white);
  --ads-property-pane-default-label-fill-color : var(--ads-color-black-750);
  --ads-small-header-height: 32px;
  --ads-bottom-bar-height: 34px;

  /** Uneditable Text Field */
  --ads-uneditable-text-field-label-text-color: var(--ads-color-black-750);



  /* Variables V2 */

  /** Foreground/text **/
  --ads-color-fg-emphasis-plus: var(--ads-color-gray-800);
  --ads-color-fg-emphasis: var(--ads-color-gray-700);
  --ads-color-fg: var(--ads-color-gray-600); /* default */
  --ads-color-fg-muted: var(--ads-color-gray-500);
  --ads-color-fg-subtle: var(--ads-color-gray-400);
  --ads-color-fg-on-brand: var(--ads-color-white);
  --ads-color-fg-on-brand-secondary: var(--ads-color-white);
  --ads-color-fg-on-error: var(--ads-color-white);
  --ads-color-fg-on-success: var(--ads-color-white);
  --ads-color-fg-on-warning: var(--ads-color-white);
  --ads-color-fg-on-emphasis: var(--ads-color-gray-100);

  /** Background **/
  /* brand */
  --ads-color-bg-brand-emphasis-plus: var(--ads-color-orange-700);
  --ads-color-bg-brand-emphasis: var(--ads-color-orange-600);
  --ads-color-bg-brand: var(--ads-color-orange-500);
  /* brand secondary */
  --ads-color-bg-brand-secondary-emphasis-plus: var(--ads-color-gray-600);
  --ads-color-bg-brand-secondary-emphasis: var(--ads-color-gray-600);
  --ads-color-bg-brand-secondary: var(--ads-color-gray-600);
  /* default */
  --ads-color-bg-emphasis-plus: var(--ads-color-gray-200);
  --ads-color-bg-emphasis: var(--ads-color-gray-100);
  --ads-color-bg: var(--ads-color-white);
  --ads-color-bg-muted: var(--ads-color-gray-50);

  /** Border **/
  --ads-color-border-emphasis-plus: var(--ads-color-gray-600);
  --ads-color-border-emphasis: var(--ads-color-gray-400);
  --ads-color-border: var(--ads-color-gray-300);
  --ads-color-border-muted: var(--ads-color-gray-200);

  /* variables V2 ends */

}
