@import "colors.css";
@import "variables.css";

:root {
  --ads-primary-color: var(--ads-color-orange-500);
  --ads-normal-text-color: var(--ads-color-black-750);

  /** Naming convention for tokens
  *
  * --ads-<component>-<componentType>-<state>-<property>-<subProperty>
  *
  * component: button, checkbox, dropdown, input, link, list, menu, radio, select, textarea...
  * subComponent: label, divider...
  * componentType: primary, secondary...
  * state: hover, focus, active, disabled, default...
  * property: color, background, border...
  * subProperty: color, width, radius...
  *
  */

  /** API Pane */
  --ads-api-pane-settings-text-color: var(--ads-old-color-gray-10);

  /** AppIcon  */
  --ads-app-icon-normal-color: var(--ads-color-black-550);
  --ads-app-icon-background-color: var(--ads-color-black-25);

  /* Breadcrumbs */
  --ads-breadcrumbs-list-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-separator-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-active-text-color: var(--ads-color-black-900);

  /** Callout */
  --ads-callout-info-text-color: #D44100;
  --ads-callout-info-background-color: #F8F3F0;
  --ads-callout-success-text-color: var(--ads-old-color-jade);
  --ads-callout-success-background-color: #E4F4ED;
  --ads-callout-danger-text-color: var(--ads-old-color-pomegranate);
  --ads-callout-danger-background-color: #F9E9E9;
  --ads-callout-warning-text-color: var(--ads-old-color-sun);
  --ads-callout-warning-background-color: #FAF3E3;

  /** Checkbox */
  --ads-checkbox-disabled-checked-background-color: #2B2B2B;
  --ads-checkbox-disabled-checked-border-color: #2B2B2B;
  --ads-checkbox-default-unchecked-border-color: #404040;
  --ads-checkbox-after-disabled-checked-border-color: #6D6D6D;
  --ads-checkbox-after-default-checked-border-color: var(--ads-color-black-0);
  --ads-checkbox-label-text-color: var(--ads-old-color-alto);

  /** ColorSelector */
  --ads-color-selector-shadow-color: #E8E8E8;
  --ads-color-selector-checkmark-color: #000000;

  /** Dialog Component */
  --ads-dialog-component-default-background-color: var(--ads-color-black-0);
  --ads-dialog-component-header-text-text-color: var(--ads-color-black-900);
  --ads-dialog-component-dialog-header-underline-color: #C5C5C5;
  --ads-dialog-component-icon-background-color: #FFDEDE;

  /** HighlightText */
  --ads-highlight-text-default-text-color: var(--ads-color-orange-800);
  --ads-highlight-text-default-background-color: var(--ads-color-orange-100);

  /** Info */
  --ads-main-text-color: #CB4810;

  /** Input */
  --ads-input-focus-border-color: var(--ads-color-black-900);

  /** Menu */
  --ads-menu-default-border-color: #404040;

  /** Property Pane */
  --ads-property-pane-default-zoom-button-background-color: #2B2B2B;
  --ads-property-pane-default-radio-group-button-text-color: #D4D4D4;
  --ads-property-pane-default-button-text-color: #090707;

  /** Radio */
  --ads-radio-default-text-color: var(--ads-color-black-0);
  /* TODO: get this color from the design system */
  --ads-radio-default-border-color: #404040;
  --ads-radio-disabled-background-color: #6D6D6D;

  /** Tag Input */
  --ads-tag-input-background-color: var(--ads-color-black-0);
  --ads-tag-input-border-color: var(--ads-color-black-250);
  --ads-tag-input-text-color: var(--ads-color-black-850);
  --ads-tag-input-placeholder-color: var(--ads-old-color-alto);
  --ads-tag-input-active-border-color: var(--ads-primary-color);
  --ads-tag-input-active-box-shadow: "none";
  --ads-tag-input-tag-text-color: var(--ads-color-black-0);
  --ads-tag-input-tag-background-color: var(--ads-primary-color);

  /* Button Tab */
  --ads-button-tab-selected-border-color: var(--ads-old-color-gray-10);
  --ads-button-tab-border-color: var(--ads-color-black-250);
  --ads-button-tab-focus-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-hover-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-svg-path-fill-color: var(--ads-old-color-gray-7);

  /** Text */
  --ads-text-color: var(--ads-normal-text-color);
  --ads-text-heading-color: var(--ads-color-black-850);
  --ads-text-highlight-color: var(--ads-color-black-0);

  /* Breadcrumbs */
  --ads-breadcrumbs-list-text-color: var(--ads-old-color-dove-gray-2);
  --ads-breadcrumbs-separator-text-color: var(--ads-old-color-dove-gray-2);
  --ads-breadcrumbs-active-text-color: var(--ads-color-black-900);

  /* Toggle */
  --ads-toggle-slider-background-color: var(--ads-color-black-250);
  --ads-toggle-slider-loading-background-color: var(--ads-old-color-mercury);
  --ads-toggle-slider-disabled-on-background-color: var(--ads-color-black-0);
  --ads-toggle-slider-disabled-off-background-color: var(--ads-color-black-0);
  --ads-toggle-on-background-color: var(--ads-color-orange-500);
  --ads-toggle-hover-on-background-color: var(--ads-old-color-rock-spray);
  --ads-toggle-hover-off-background-color: var(--ads-color-black-450);
  --ads-toggle-disabled-on-background-color: var(--ads-old-color-bridesmaid);
  --ads-toggle-disabled-off-background-color: var(--ads-color-black-250);
  --ads-toggle-spinner-stroke-color: var(--ads-color-black-450);

  /** TextInput */
  --ads-text-input-text-box-default-background-color: #ffffff;
  --ads-text-input-text-box-default-text-color: #090707;
  --ads-text-input-text-box-default-border-color: #E0DEDE;
  --ads-text-input-text-box-disabled-background-color: #F0F0F0;
  --ads-text-input-text-box-disabled-text-color: #6D6D6D;
  --ads-text-input-text-box-disabled-border-color: #F0F0F0;
  --ads-text-input-text-box-read-only-background-color: #F0F0F0;
  --ads-text-input-text-box-read-only-text-color: #716E6E;
  --ads-text-input-text-box-read-only-border-color: #F0F0F0;
  --ads-text-input-text-box-hover-background-color: #FAFAFA;
  --ads-text-input-icon-path-color: #716E6E;
  --ads-text-input-placeholder-text-color: #A9A7A7;
  --ads-text-input-helper-text-text-color: #858282;

  --ads-danger-main: #E22C2C;
  --appsmith-input-focus-border-color: var(--ads-color-black-900);

  /** Display Image Upload */
  --ads-display-image-upload-background-color: var(--ads-old-color-pigeon-post);
  --ads-display-image-upload-label-text-color: var(--ads-old-color-royal-blue);

  /** Numbered Step */
  --ads-numbered-step-text-color: var(--ads-color-black-250);
  --ads-numbered-step-line-background-color: var(--ads-color-black);

  /** Tabs */
  --ads-tabs-list-text-color: var(--ads-old-color-gray-7);
  --ads-tabs-list-svg-fill-color: var(--ads-color-black-0);
  --ads-tabs-list-response-viewer-background-color: var(--ads-old-color-mercury);
  --ads-tabs-list-focus-response-viewer-background-color: var(--ads-color-black-250);
  --ads-tabs-list-selected-svg-fill-color: var(--ads-color-black-750);
  --ads-tabs-list-selected-response-viewer-background-color: var(--ads-color-black-0);
  --ads-tabs-list-selected-response-viewer-border-color: var(--ads-color-black-250);
  --ads-tabs-list-selected-response-viewer-text-color: var(--ads-normal-text-color);
  --ads-tabs-count-background-color: var(--ads-old-color-mercury);
  --ads-tabs-title-wrapper-text-color: var(--ads-old-color-gray-7);
  --ads-tabs-title-wrapper-hover-text-color: var(--ads-color-black-750);
  --ads-tabs-title-wrapper-icon-fill-color: var(--ads-old-color-gray-7);
  --ads-tabs-title-wrapper-text-color: var(--ads-old-color-gray-7);
  
  /** Tab Item Background fill */
  --ads-tab-item-text-color: var(--ads-normal-text-color);
  --ads-tab-item-focus-background-color: var(--ads-color-black-75);
  --ads-tab-item-focus-text-color: var(--ads-color-black-900);

  /** Emoji Reactions */
  --ads-emoji-reactions-bubble-background-color: var(--ads-color-black-75);
  --ads-emoji-reactions-bubble-active-background-color: var(--ads-old-color-bridesmaid);
  --ads-emoji-reactions-bubble-active-border-color: var(--ads-old-color-rock-spray);
  --ads-emoji-reactions-bubble-hover-background-color: var(--ads-old-color-gallery-2);
  --ads-emoji-reactions-count-text-color: var(--ads-old-color-dove-gray);
  --ads-emoji-reactions-count-active-text-color: var(--ads-old-color-rock-spray);
  --ads-emoji-reactions-count-hover-text-color: var(--ads-color-black-750);

  /** Gif Player */
  --ads-gif-player-icon-path-fill-color: var(--ads-old-color-silver);
  --ads-gif-player-icon-circle-fill-color: var(--ads-old-color-gray-10);
  --ads-gif-player-text-color: var(--ads-old-color-dove-gray-3);
  --ads-gif-player-overlay-background-color: var(--ads-color-black-0);

  /** Scroll Indicator */
  --ads-scroll-indicator-thumb-light-background-color: var(--ads-old-color-black-750-opacity-50);
  --ads-scroll-indicator-track-light-background-color: var(--ads-old-color-white-opacity-50);
  --ads-scroll-indicator-thumb-dark-background-color: var(--ads-old-color-alto-opacity-50);
  --ads-scroll-indicator-track-dark-background-color: var(--ads-old-color-gray-10-opacity-50);

  /** Icon Selector */
  --ads-icon-selector-scrollbar-thumb-background-color: var(--ads-color-black-450);
  --ads-icon-selector-app-icon-background-color: var(--ads-color-black-25);
  --ads-icon-selector-icon-fill-color: var(--ads-color-black-0);

  /** Multiswitch */
  --ads-multiswitch-background-color: var(--ads-old-color-mercury);
  --ads-multiswitch-border-color: var(--ads-color-black-250);
  --ads-multiswitch-selected-background-color: var(--ads-color-black-0);
  --ads-multiswitch-tab-header-background-color: var(--ads-color-black-0);

  /** Intent Colors */
  --ads-intent-color-primary: var(--ads-old-color-jade);
  --ads-intent-color-secondary: var(--ads-old-color-black-pearl);
  --ads-intent-color-success: var(--ads-old-color-cornflower-blue);
  --ads-intent-color-danger: var(--ads-old-color-danger-red);
  --ads-intent-color-none: var(--ads-color-black-200);
  --ads-intent-color-warning: var(--ads-old-color-jaffa);
  --ads-intent-color-success-light: var(--ads-old-color-jade);

  /* Rectangular Switch */
  --ads-rectangular-switch-background-color: var(--ads-color-black-0);
  --ads-rectangular-switch-hover-background-color: var(--ads-color-black-0);
  --ads-rectangular-switch-slider-border-color: var(--ads-color-black-450);
  --ads-rectangular-switch-slider-background-color: var(--ads-primary-color);
  --ads-rectangular-switch-light-text-color: var(--ads-color-black-0);
  --ads-rectangular-switch-dark-text-color: var(--ads-color-black-470);
}
