@import "colors.css";
@import "variables.css";

:root {
  --ads-primary-color: var(--ads-color-orange-500);

  /** Naming convention for tokens
  *
  * --ads-<component>-<componentType>-<state>-<property>-<subProperty>
  *
  * component: button, checkbox, dropdown, input, link, list, menu, radio, select, textarea...
  * componentType: primary, secondary...
  * state: hover, focus, active, disabled, default...
  * property: color, background, border...
  * subProperty: color, width, radius...
  *
  */

  /** AppIcon  */
  --ads-app-icon-normal-color: var(--ads-color-black-550);
  --ads-app-icon-background-color: var(--ads-color-black-25);

  /* Breadcrumbs */
  --ads-breadcrumbs-list-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-separator-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-active-text-color: var(--ads-color-black-900);

  /** Callout */
  --ads-callout-info-text-color: #D44100;
  --ads-callout-info-background-color: #F8F3F0;
  --ads-callout-success-text-color: var(--ads-old-color-jade);
  --ads-callout-success-background-color: #E4F4ED;
  --ads-callout-danger-text-color: var(--ads-old-color-pomegranate);
  --ads-callout-danger-background-color: #F9E9E9;
  --ads-callout-warning-text-color: var(--ads-old-color-sun);
  --ads-callout-warning-background-color: #FAF3E3;

  /** ColorSelector */
  --ads-color-selector-shadow-color: #E8E8E8;
  --ads-color-selector-checkmark-color: #000000;

  /** HighlightText */
  --ads-highlight-text-default-text-color: var(--ads-color-orange-800);
  --ads-highlight-text-default-background-color: var(--ads-color-orange-100);

  /** Info */
  --ads-main-text-color: #CB4810;

  /** Input */
  --ads-input-focus-border-color: var(--ads-color-black-900);

  /** Menu */
  --ads-menu-default-border-color: #404040;

  /** Property Pane */
  --ads-property-pane-default-zoom-button-background-color: #2B2B2B;
  --ads-property-pane-default-radio-group-button-text-color: #D4D4D4;
  --ads-property-pane-default-button-text-color: #090707;

  /** Radio */
  --ads-radio-default-text-color: var(--ads-color-black-0);
  /* TODO: get this color from the design system */
  --ads-radio-default-border-color: #404040;
  --ads-radio-disabled-background-color: #6D6D6D;

  /** Tag Input */
  --ads-tag-input-background-color: var(--ads-color-black-0);
  --ads-tag-input-border-color: var(--ads-color-black-250);
  --ads-tag-input-text-color: var(--ads-color-black-850);
  --ads-tag-input-placeholder-color: var(--ads-old-color-alto);
  --ads-tag-input-active-border-color: var(--ads-primary-color);
  --ads-tag-input-active-box-shadow: "none";
  --ads-tag-input-tag-text-color: var(--ads-color-black-0);
  --ads-tag-input-tag-background-color: var(--ads-primary-color);

  /* Button Tab */
  --ads-button-tab-selected-border-color: var(--ads-old-color-gray-10);
  --ads-button-tab-border-color: var(--ads-color-black-250);
  --ads-button-tab-focus-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-hover-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-svg-path-fill-color: var(--ads-old-color-gray-7);

  /** Text */
  --ads-text-color: var(--ads-color-black-750);
  --ads-text-heading-color: var(--ads-color-black-850);
  --ads-text-highlight-color: var(--ads-color-black-0);

  /* Breadcrumbs */
  --ads-breadcrumbs-list-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-separator-text-color: var(--ads-old-color-dove-gray);
  --ads-breadcrumbs-active-text-color: var(--ads-color-black-900);

  /* Toggle */
  --ads-toggle-slider-background-color: var(--ads-color-black-250);
  --ads-toggle-slider-loading-background-color: var(--ads-old-color-mercury);
  --ads-toggle-slider-disabled-on-background-color: var(--ads-color-black-0);
  --ads-toggle-slider-disabled-off-background-color: var(--ads-color-black-0);
  --ads-toggle-on-background-color: var(--ads-color-orange-500);
  --ads-toggle-hover-on-background-color: var(--ads-old-color-rock-spray);
  --ads-toggle-hover-off-background-color: var(--ads-color-black-450);
  --ads-toggle-disabled-on-background-color: var(--ads-old-color-bridesmaid);
  --ads-toggle-disabled-off-background-color: var(--ads-color-black-250);
  --ads-toggle-spinner-stroke-color: var(--ads-color-black-450);

  /** TextInput */
  --ads-text-input-text-box-default-background-color: #ffffff;
  --ads-text-input-text-box-default-text-color: #090707;
  --ads-text-input-text-box-default-border-color: #E0DEDE;
  --ads-text-input-text-box-disabled-background-color: #F0F0F0;
  --ads-text-input-text-box-disabled-text-color: #6D6D6D;
  --ads-text-input-text-box-disabled-border-color: #F0F0F0;
  --ads-text-input-text-box-read-only-background-color: #F0F0F0;
  --ads-text-input-text-box-read-only-text-color: #716E6E;
  --ads-text-input-text-box-read-only-border-color: #F0F0F0;
  --ads-text-input-text-box-hover-background-color: #FAFAFA;
  --ads-text-input-icon-path-color: #716E6E;
  --ads-text-input-placeholder-text-color: #A9A7A7;
  --ads-text-input-helper-text-text-color: #858282;

  --ads-danger-main: #E22C2C;
  --appsmith-input-focus-border-color: var(--ads-color-black-900);

}
