:root {

  /* z-indexes */
  --ads-z-index-0: 0;
  --ads-z-index-1: 1;
  --ads-z-index-2: 2;
  --ads-z-index-3: 3;
  --ads-z-index-4: 4;
  --ads-z-index-5: 5;
  --ads-z-index-6: 6;
  --ads-z-index-7: 7;
  --ads-z-index-8: 8;
  --ads-z-index-9: 9;
  --ads-z-index-10: 10;
  --ads-z-index-21: 21;
  --ads-z-index-max: 99999;

  /* font-weights */
  --ads-font-weight-0: 0;
  --ads-font-weight-normal: 400;
  --ads-font-weight-bold: 500;
  --ads-font-weight-bold-xl: 600;
  --ads-font-weight-bold-xxl: 700;
}
