:root {

  /* z-indexes */
  --ads-z-index-0: 0;
  --ads-z-index-1: 1;
  --ads-z-index-2: 2;
  --ads-z-index-3: 3;
  --ads-z-index-4: 4;
  --ads-z-index-5: 5;
  --ads-z-index-6: 6;
  --ads-z-index-7: 7;
  --ads-z-index-8: 8;
  --ads-z-index-9: 9;
  --ads-z-index-10: 10;
  --ads-z-index-21: 21;
  --ads-z-index-max: 99999;

  /* font-weights */
  --ads-font-weight-0: 0;
  --ads-font-weight-normal: 400;
  --ads-font-weight-bold: 500;
  --ads-font-weight-bold-xl: 600;
  --ads-font-weight-bold-xxl: 700;

  /* Spaces */
  --ads-spaces-0: 0;
  --ads-spaces-1: 4;
  --ads-spaces-2: 6;
  --ads-spaces-3: 8;
  --ads-spaces-4: 10;
  --ads-spaces-5: 12;
  --ads-spaces-6: 14;
  --ads-spaces-7: 16;
  --ads-spaces-8: 18;
  --ads-spaces-9: 20;
  --ads-spaces-10: 22;
  --ads-spaces-11: 24;
  --ads-spaces-12: 30;
  --ads-spaces-13: 36;
  --ads-spaces-14: 38;
  --ads-spaces-15: 40;
  --ads-spaces-16: 42;
  --ads-spaces-17: 44;

  /* font sizes */
  --ads-font-size-0: 0;
  --ads-font-size-1: 10;
  --ads-font-size-2: 12;
  --ads-font-size-3: 14;
  --ads-font-size-4: 16;
  --ads-font-size-5: 18;
  --ads-font-size-6: 24;
  --ads-font-size-7: 28;
  --ads-font-size-8: 32;
  --ads-font-size-9: 48;
  --ads-font-size-10: 64;

}
