.ads--button-tab {
  --ads-button-tab-selected-border-color: var(--ads-color-border-selected);
  --ads-button-tab-border-color: var(--ads-color-border);
  --ads-button-tab-focus-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-hover-background-color: var(--ads-old-color-gallery-2);
  --ads-button-tab-svg-path-fill-color: var(--ads-color-gray-500);
}