.ads--breadcrumbs {
  --ads-breadcrumbs-list-text-color: var(--ads-color-gray-700);
  --ads-breadcrumbs-separator-text-color: var(--ads-color-gray-500);
  --ads-breadcrumbs-active-text-color: var(--ads-color-black-900);
}