.ads--callout {
    --ads-callout-info-text-color: #D44100;
    --ads-callout-info-background-color: #F8F3F0;
    --ads-callout-success-text-color: var(--ads-old-color-jade);
    --ads-callout-success-background-color: #E4F4ED;
    --ads-callout-danger-text-color: var(--ads-old-color-pomegranate);
    --ads-callout-danger-background-color: #F9E9E9;
    --ads-callout-warning-text-color: var(--ads-old-color-sun);
    --ads-callout-warning-background-color: #FAF3E3;
}